
/* Import Sofia fonts */
@font-face {
  font-family: "Sofia Pro Regular";
  src: url('./fonts/Sofia/Sofia-Pro-Regular.otf');
}
@font-face {
  font-family: "Sofia Pro Medium";
  src: url('./fonts/Sofia/Sofia-Pro-Medium.otf');
}


body {
 margin: 0;
 padding: 0;
 font-family: "Sofia Pro Regular", sans-serif;
 font-size: 100%;
 color: #212121;
}

/*
 :: TYPOGRAPHY
 ----------------------------
 ----------------------------
*/
h1, h2, h3, h4 { font-family: "Sofia Pro Medium", sans-serif; font-weight: 500;}
h1 { font-size: 1.5rem } /* 24px */

.text-xl {
  font-size: 1.3125rem;
}
.text-3xl {
  font-size: 1.75rem;
  font-family: "Sofia Pro Regular", sans-serif;
}

/* Font Weight */
.font-normal {
  font-family: "Sofia Pro Regular", sans-serif;
  font-weight: 400;
}
.font-medium {
  font-family: "Sofia Pro Medium", sans-serif;
  font-weight: 500;
}

/* Gradient Text */
.hi {
  background: linear-gradient(to right, #00D7F3 0%, #3366FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.3125rem;
  font-weight: bold;
}


/*
 :: COLOR
 ----------------------------
 ----------------------------
*/

/* Text Color */
.text-black { color: #212121; }
.text-grey-darkest { color: #424242; }
.text-grey-dark { color: #757575; }
.text-grey { color: #BDBDBD; }
.text-grey-light { color: #EEEEEE; }
.text-grey-lightest { color: #FAFAFA; }
.text-white { color: white; }

.text-blue { color: #3366FF; }
.text-red { color: #EC1561; }

/* Background Color */
.bg-black { background-color: #212121; }
.bg-grey-darkest { background-color: #424242; }
.bg-grey-dark { background-color: #757575; }
.bg-grey { background-color: #BDBDBD; }
.bg-grey-light { background-color: #EEEEEE; }
.bg-grey-lightest { background-color: #FAFAFA; }
.bg-white { background-color: white; }

.bg-blue { background-color: #3366FF; }
.bg-blue-lightest { background-color: #86B1FF; }
.bg-red-light { background-color: #F68EB1; }
.bg-green { background-color: #00CA4C; }
.bg-green-light { background-color: #62F1AC; }

.svg-gray {
  fill: #BDBDBD;
}

/* Circle Chart Removing the circle chart from the design
// Leaving for now just in case there's a business made to keep it

.circular-chart-wrapper {
  position: relative;
  float: right;
  top: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
}
.circular-chart-wrapper svg {
  position: absolute;
  top: -8px; left: 0;
}
.circular-chart {
  display: block;
  width: 48px;
  max-height: 250px;
}
.circle {
  stroke: #EC1561;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  z-index: 0;
}
.circular-chart-back .circle {
  animation: none;
  stroke: #EEEEEE;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart-percentage {
  font-size: 16px;
  display: block;
  width: 100%;
  position: relative;
  top: 8px; right: -1px;
}
.percentage-sign {
  font-size: 9px;
}
*/


/*
 :: BORDERS
 ----------------------------
 ----------------------------
*/
.border-grey-light *, .border-grey-light ::after, .border-grey-light ::before {
  border-color: #EEEEEE;
}

.border-grey-light {
  border-color: #EEEEEE;
}

.rounded-lg {
  border-radius: 0.875rem;
}


/*
 :: LINKS
 ----------------------------
 ----------------------------
*/
a {
  color: #3366FF;
  text-decoration: none;
}


/*
 :: AVATARS
 ----------------------------
 ----------------------------
*/
.avatar-lg {
  width: 5.5rem;
  height: 5.5rem;
  /* background-color: #86B1FF; */
  border-radius: 100%;
  color: white;
  font-size: 1.75rem;
  margin: 0 auto 1rem;
}


/*
 :: ICONS
 ----------------------------
 ----------------------------
*/
.icon-chevron-left { width: 10px; height: 18px; }


/*
 :: BUTTONS
 ----------------------------
 ----------------------------
*/
.btn {
  display: block;
  width: 100%;
  background: #3366ff;
}
.btn-green, .btn-blue {
  background: #00CA4C;
  color: white;
  min-height: 48px;
  border-radius: 4rem;
  font-size: 1.125rem;
  line-height: 48px;
}
.btn-blue {
  background: #3366FF;
}
.btn-social {
  background: white;
  color: #757575;
  min-height: 56px;
  border-radius: 4rem;
  font-size: 1.125rem;
  border-color: #EEEEEE;
  border-width: 2px;
  line-height: 56px;
  max-width: 24rem;
}
.btn-lg {
  height: 3.5rem;
  line-height: 3.5rem;
}

/* Stroked Buttons */
.btn-stroked {
  background-color: white;
  display: inline-block;
}
.btn-stroked label {
  cursor: pointer;
  font-size: 1rem;
  line-height: 24px;
  padding: .5rem .75rem;
  display: inline-block;
  position: relative;
  height: 40px;
}
.btn-stroked.active .checkbox,
.btn-stroked input[type=checkbox]:checked {
  background: white url('./images/icon-checkmark-checked.svg') 0 0 no-repeat;
  background-size: 24px 24px;
  border: 0;
}
.btn-stroked label .text {
  z-index: 1;
  position: relative;
  top: 1px;
  left: 0;
  margin-right: 2px;
}
.btn-stroked input[type=checkbox] {
  margin-right: .5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 2px solid #eee;
  border-radius: 3rem;
  z-index: 0;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 8px;
  top: 6px;
  background-color: white;
  border: 2px solid #eee;
  border-radius: 50%;
}
.slider:before:hover {
  background: #fafafa;
}
input:checked + .slider {
  background-color: #E6FDF2;
  border-color: #E6FDF2;
}
input:focus + .slider {

}
input:checked + .slider:before {
  background: white url('./images/icon-checkmark-checked.svg') 0 0 no-repeat;
  background-size: 24px 24px;
  border: 0;
}

/* Contact Buttons */
.btn-contact-icon {
  border: 1px solid white;
  border-radius: 100%;
  width: 40px; height: 40px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto 4px;
}



/*
 :: SHADOWS
 ----------------------------
 ----------------------------
*/
.shadow {
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.04),
              0 0 16px 0 rgba(0,0,0,0.08);
}


/*
 :: FORMS
 ----------------------------
 ----------------------------
*/
.input, .texarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  width: 100%;
  display: block;
  border: 2px solid #eee;
  border-radius: 0.875rem;
  padding: .875rem 1rem;
  min-height: 56px;
}
.textarea {
  min-height: 8rem;
  padding-top: 0.75rem;
}
select {
  background: white;
  background-image: url(./images/icon-arrow-down-circle.svg);
  background-repeat: no-repeat;
  background-position: 96% 50%;
  border-radius: 56px;
}
.input-radio {
  background: #fff;
}
.input-radio-container {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.input-radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #FFF;
  border: 2px solid #EEEEEE;
  border-radius: 50%;
}
.input-radio-container:hover input ~ .checkmark {
  background-color: #FFF;
  border: 2px solid #EEEEEE;
}
.input-radio-container input:checked ~ .checkmark {
    background-color: #00CA4C;
    border: 2px solid #00CA4C;
}
.input-radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.input-radio-container input:checked ~ .checkmark:after {
  display: block;
}
.input-radio-container .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 12px;
	height: 11px;
	background: url('./images/icon-checkmark-white.svg') no-repeat 0 0;
  background-size: 12px 11px;
}
.input-radio-lg .checkmark {
  height: 32px;
  width: 32px;
}
.input-radio-lg .checkmark:after {
 	top: 6.5px;
	left: 6px;
	width: 16px;
	height: 15px;
  background-size: 16px 15px;
}

/* Checkboxes */
.checkbox {
  -webkit-appearance: none;
  border: 2px solid #EEEEEE;
  border-radius: 98px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 24px;
  line-height: 24px;
  width: 24px;
}

/* Radio Buttons */
.img-radio {
  width: 32px;
  height: 32px;
}


/*
 :: WIDTH
 ----------------------------
 ----------------------------
*/
.w-14 {
  width: 3.5rem;
}
.max-w-400 {
  max-width: 400px;
}

/*
 :: HEIGHT
 ----------------------------
 ----------------------------
*/


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/*
 :: COMPONENT SPECIFIC
 ----------------------------
 ----------------------------
*/

/* App Header */
.app-header {
  height: 4rem; /* 64px */
  background-color: rgba(255,255,255,0.96);
}

.app-header-back-button {
  height: 64px;
  padding: 0;
}
.app-header-back-button a {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  height: 64px;
}
.app-header-back-button span {
  position: relative;
  top: 3px;
}

/* Actions */
.actions {
  background: white;
  background: rgba(255, 255, 255, .96);
  left: 0;
  right: 0;
  padding: 1rem 0;
  box-shadow: 0 -2px 16px rgba(0,0,0,.07);
  z-index: 2;
}


/* Referral List */
.referral-list_needs-review .avatar-image {
  opacity: .6;
}
.referral-list_reviewed .avatar-image {
  opacity: .7;
}
.referral-list_dead .avatar-image {
  opacity: 1;
}


/* Loading Page */
.right-nav-placeholder {
  background: #eee;
  width: 2rem;
  height: 0.625rem;
  position: absolute;
  top: 1.125rem;
  right: 1.5rem;
  border-radius: 16px;
}
.loader{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: absolute;
  top: 0; left: 50%;
  margin: 8rem 0 0 -16px;
}
.ojo-loading {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background: linear-gradient(to right, #3366FF 10%, #00D7F3 25%, #3366FF 85%);
  background-size: 200% auto;
  animation: shine .5s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
#loader:before, #loader-1:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 4px solid transparent;
  border-top-color: #BDBDBD;
}
#loader:before{
  z-index: 100;
  animation: spin .5s infinite;
}
#loader:after{
  border: 4px solid white;
}
@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Modals */
.modal-manager .modal-overlay {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-out,visibility 0s .2s linear;
    background-color: rgba(0,0,0,.3);
}

/* Tags */
.tag {
  display: inline-block;
  height: 1.5rem;
  background: #757575;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding: 5px 8px 1px;
  line-height: 18px;
  border-radius: .25rem;
  position: relative;
  top: -1px;
}
.tag.new {
  background: #FB8C00;
}


/* Snackbar */
#snackbar {
    visibility: hidden;
    width: auto;
    min-width: 22rem;
    max-width: 90%;
    background-color: #fff;
    color: #212121;
    text-align: center;
    border-radius: 0.4375rem;
    padding: 1.5rem 2rem;
    position: fixed;
    z-index: 1;
    top: 1rem;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.04), 0 0 16px 0 rgba(0,0,0,0.08);
    left: 50%;
    transform: translateX(-50%);
}
#snackbar.show {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 1rem; opacity: 1;}
}
@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 1rem; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {top: 1rem; opacity: 1;}
  to {top: 0; opacity: 0;}
}
@keyframes fadeout {
  from {top: 1rem; opacity: 1;}
  to {top: 0; opacity: 0;}
}


/*
 :: PAGE: Referral Detail
 ----------------------------
 ----------------------------
*/
.review-status-wrapper {
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #3366FF 0%, #62F1AC 100%);
}
.review-status_needs-review {
  background: linear-gradient(180deg, #3366FF 0%, #F68EB1 100%);
}
.review-status_needs-review .avatar {
  background-color: #F68EB1;
}
.review-status_dead {
  background: linear-gradient(180deg, #757575 0%, #BDBDBD 100%);
}
.review-status_dead .avatar {
  background-color: #757575;
}

/* Tabs */
.nav-tabs {
  border-bottom: 1px solid #eee;
}
.nav-tabs .tab {
  display: inline-block;
  width: 50%;
  text-align: center;
  line-height: 32px;
  position: relative;
}
.nav-tabs .tab a {
  padding-top: 24px;
  padding-bottom: 8px;
  display: block;
  color: #757575;
}
.nav-tabs .tab.active a {
  color: #3366FF;
}
.nav-tabs .tab.active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #3366FF;
}
.card-top {
  height: 64px;
  background: white;
  border-radius: 24px 24px 0 0;
  position: relative;
  box-shadow: 0 0 16px (0,0,0,.19);
}
.card-top::after {
  content: "";
  width: 32px;
  height: 4px;
  background: #BDBDBD;
  border-radius: 4px;
  position: absolute;
  top: 8px; left: 50%;
  margin-left: -16px;
}

/* Home List */
.home-list_img-wrap {
  max-height: 218px;
  overflow: hidden;
  display: block;
}
